<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document System homepage</title>
</head>
<body>
Здравствуйте!<br/>
Вы зашли на страницу приложения "Document System".<br/>
Вы можете либо создать документ, либо получить информацию по существующему.<br/>
Выберите нужное действие:<br/>

<a href="/contracts/new_contr">Создать новый договор.</a><br/>
<a href="/contracts/find">Посмотреть информацию по существующему договору.</a>
</body>
</html>